# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [7]:
df = pd.read_csv('student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [24]:
stud = df.loc[: , "school":"guardian"]
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [22]:
captalizer = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [15]:
print(captalizer('Mjob'), captalizer('Fjob'))

MJOB FJOB

In [28]:
stud['Mjob'] = stud.Mjob.apply(captalizer)
stud['Fjob'] = stud.Fjob.apply(captalizer)
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father

### Step 7. Print the last elements of the data set.

In [16]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [29]:
stud['Mjob'] = stud.Mjob.apply(captalizer)
stud['Fjob'] = stud.Fjob.apply(captalizer)
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [33]:
def majority(age):
    if age > 17:
        return True
    else:
        return False

In [38]:
stud['legal_drinker'] = stud.age.apply(majority)
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother,True
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father,False
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother,False
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother,False
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [43]:
def multiply10(x):
    if (type(x) == int) | (type(x) == float):
        return x*10
    else:
        return x
    
df.applymap(multiply10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,180,U,GT3,A,40,40,at_home,teacher,...,40,30,40,10,10,30,60,50,60,60
1,GP,F,170,U,GT3,T,10,10,at_home,other,...,50,30,30,10,10,30,40,50,50,60
2,GP,F,150,U,LE3,T,10,10,at_home,other,...,40,30,20,20,30,30,100,70,80,100
3,GP,F,150,U,GT3,T,40,20,health,services,...,30,20,20,10,10,50,20,150,140,150
4,GP,F,160,U,GT3,T,30,30,other,other,...,40,30,20,10,20,50,40,60,100,100
5,GP,M,160,U,LE3,T,40,30,services,other,...,50,40,20,10,20,50,100,150,150,150
6,GP,M,160,U,LE3,T,20,20,other,other,...,40,40,40,10,10,30,0,120,120,110
7,GP,F,170,U,GT3,A,40,40,other,teacher,...,40,10,40,10,10,10,60,60,50,60
8,GP,M,150,U,LE3,A,30,20,services,other,...,40,20,20,10,10,10,0,160,180,190
9,GP,M,150,U,GT3,T,30,40,other,other,...,50,50,10,10,10,50,0,140,150,150
10,GP,F,150,U,GT3,T,40,40,teacher,health,...,30,30,30,10,20,20,0,100,80,90
11,GP,F,150,U,GT3,T,20,10,services,other,...,50,20,20,10,10,40,40,100,120,120
12,GP,M,150,U,LE3,T,40,40,health,services,...,40,30,30,10,30,50,20,140,140,140
13,GP,M,150,U,GT3,T,40,30,teacher,other,...,50,40,30,10,20,30,20,100,100,110
14,GP,M,150,U,GT3,A,20,20,other,other,...,40,50,20,10,10,30,0,140,160,160
15,GP,F,160,U,GT3,T,40,40,health,other,...,40,40,40,10,20,20,40,140,140,140
16,GP,F,160,U,GT3,T,40,40,services,services,...,30,20,30,10,20,20,60,130,140,140
17,GP,F,160,U,GT3,T,30,30,other,other,...,50,30,20,10,10,40,40,80,100,100
18,GP,M,170,U,GT3,T,30,20,services,services,...,50,50,50,20,40,50,160,60,50,50
19,GP,M,160,U,LE3,T,40,30,health,other,...,30,10,30,10,30,50,40,80,100,100
20,GP,M,150,U,GT3,T,40,30,teacher,other,...,40,40,10,10,10,10,0,130,140,150
21,GP,M,150,U,GT3,T,40,40,health,health,...,50,40,20,10,10,50,0,120,150,150
22,GP,M,160,U,LE3,T,40,20,teacher,other,...,40,50,10,10,30,50,20,150,150,160
23,GP,M,160,U,LE3,T,20,20,other,other,...,50,40,40,20,40,50,0,130,130,120
24,GP,F,150,R,GT3,T,20,40,services,health,...,40,30,20,10,10,50,20,100,90,80
25,GP,F,160,U,GT3,T,20,20,services,services,...,10,20,20,10,30,50,140,60,90,80
26,GP,M,150,U,GT3,T,20,20,other,other,...,40,20,20,10,20,50,20,120,120,110
27,GP,M,150,U,GT3,T,40,20,health,services,...,20,20,40,20,40,10,40,150,160,150
28,GP,M,160,U,LE3,A,30,40,services,other,...,50,30,30,10,10,50,40,110,110,110
29,GP,M,160,U,GT3,T,40,40,teacher,teacher,...,40,40,50,50,50,50,160,100,120,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,at_home,other,...,30,30,40,20,40,30,40,100,100,100
366,MS,M,180,U,LE3,T,40,40,teacher,services,...,40,20,20,20,20,50,0,130,130,130
367,MS,F,170,R,GT3,T,10,10,other,services,...,50,20,10,10,20,10,0,70,60,0
368,MS,F,180,U,GT3,T,20,30,at_home,services,...,50,20,30,10,20,40,0,110,100,100
369,MS,F,180,R,GT3,T,40,40,other,teacher,...,30,20,20,40,20,50,100,140,120,110
370,MS,F,190,U,LE3,T,30,20,services,services,...,30,20,20,10,10,30,40,70,70,90
371,MS,M,180,R,LE3,T,10,20,at_home,services,...,40,30,30,20,30,30,30,140,120,120
372,MS,F,170,U,GT3,T,20,20,other,at_home,...,30,40,30,10,10,30,80,130,110,110
373,MS,F,170,R,GT3,T,10,20,other,other,...,30,50,50,10,30,10,140,60,50,50
374,MS,F,180,R,LE3,T,40,40,other,other,...,50,40,40,10,10,10,0,190,180,190
375,MS,F,180,R,GT3,T,10,10,other,other,...,40,30,20,10,20,40,20,80,80,100
376,MS,F,200,U,GT3,T,40,20,health,other,...,50,40,30,10,10,30,40,150,140,150
377,MS,F,180,R,LE3,T,40,40,teacher,services,...,50,40,30,30,40,20,40,80,90,100
378,MS,F,180,U,GT3,T,30,30,other,other,...,40,10,30,10,20,10,0,150,150,150
379,MS,F,170,R,GT3,T,30,10,at_home,other,...,40,50,40,20,30,10,170,100,100,100
380,MS,M,180,U,GT3,T,40,40,teacher,teacher,...,30,20,40,10,40,20,40,150,140,140
381,MS,M,180,R,GT3,T,20,10,other,other,...,40,40,30,10,30,50,50,70,60,70
382,MS,M,170,U,GT3,T,20,30,other,services,...,40,40,30,10,10,30,20,110,110,100
383,MS,M,190,R,GT3,T,10,10,other,services,...,40,30,20,10,30,50,0,60,50,0
384,MS,M,180,R,GT3,T,40,20,other,other,...,50,40,30,40,30,30,140,60,50,50
385,MS,F,180,R,GT3,T,20,20,at_home,other,...,50,30,30,10,30,40,20,100,90,100
386,MS,F,180,R,GT3,T,40,40,teacher,at_home,...,40,40,30,20,20,50,70,60,50,60
387,MS,F,190,R,GT3,T,20,30,services,other,...,50,40,20,10,20,50,0,70,50,0
388,MS,F,180,U,LE3,T,30,10,teacher,services,...,40,30,40,10,10,10,0,70,90,80
389,MS,F,180,U,GT3,T,10,10,other,other,...,10,10,10,10,10,50,0,60,50,0
390,MS,M,200,U,LE3,A,20,20,services,services,...,50,50,40,40,50,40,110,90,90,90
391,MS,M,170,U,LE3,T,30,10,services,services,...,20,40,50,30,40,20,30,140,160,160
392,MS,M,210,R,GT3,T,10,10,other,other,...,50,50,30,30,30,30,30,100,80,70
393,MS,M,180,R,LE3,T,30,20,services,other,...,40,40,10,30,40,50,0,110,120,100
394,MS,M,190,U,LE3,T,10,10,other,at_home,...,30,20,30,30,30,50,50,80,90,90